<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#"><img class="imgheader" src="\images\iconoweb.png" />
            <p style="color: black" align="center"> GeeksHubs <br> Travels</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Destinos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Donde estamos</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Destinos</a>
                        <a class="dropdown-item" href="#">Quienes somos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Donde estamos</a>
                    </div>
                </li>
            </ul>
        </div>


        <div class="redessociales">
            <a href="">
                <img class="imgRRSS" src="..\images\tt-ico.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="..\images\ws-ico.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="..\images\fb-ico.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="..\images\insta.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="..\images\linkedin.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="..\images\youtube.png" />
            </a>
        </div>
    </nav>
    </div>

    <div class="viaja" style="color:white">
        <h1>Viaja!</h1>
        <h2>Descubre lugares maravillosos</h2>
        <br>
        <button id="verDestinos">ver destinos</button>
    </div>
</header>
<br>
{{!-- <section>
    <div class="flex-container">
        <div><img class="item" src="../images/tokyo.JPG" alt="tokyo"></div>
        <div><img class="item" src="../images/beijing.jpg" alt="beijing"></div>
        <div><img class="item" src="../images/new_york.JPG" alt="newyork"></div>
    </div>
    <div class="flex-container">
        <div><img class="item" src="../images/ciudad_mexico.JPG" alt="mexico"></div>
        <div><img class="item" src="../images/buenos_aires.JPG" alt="buenosaires"></div>
        <div><img class="item" src="../images/madrid.JPG" alt="madrid"></div>
    </div>
</section> --}}
<br>
<section>
    <div class="quienSomos">
        <div class="boxed">
            <h3><u>QUIEN SOMOS</u></h3>
            <p align="justify">GeeksHubs Travels es un agencia de viajes<br>
                online creada en 2009 por un equipo de viaje-<br>
                ros entusiastas que deciden hacer de su<br>
                pasion por conocer el mundo un modo de<br>
                vida. Desde nuestros inicios hemos disenado<br>
                mas de 500 viajes organizados a diferentes<br>
                destinos de Europa, Norteamerica y Asia.<br>
                Nuestro objectivo ahora es ir ampliando hori-<br>
                zontes poco a poco.</p>
            <button>DESCUBRIR</button>
        </div>
    </div>
</section>

<div class="container-input">
    <div style="text-align:right">
        <p>E: enquiry@artiotravel.com<br>
            P: 0264 123 4567<br><br>
            Give us a call or drop by anytime, we endeavour to answer all<br>
            enquiries within 24 hours on business days.<br><br>
            We are open from 8.30 AM - 4.00 PM weekdays.</p>
    </div>
    <div class="row">
        <div class="column"><img src="/images/map.jpg" style="width:100%"></div>
        <div class="column">
            <form action="/action_page.php">
                <div class="namephone">
                    <input type="text" id="fname" name="firstname" placeholder="Name">
                    <input type="text" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="emailcountry">
                    <input type="text" id="email" name="email" placeholder="Email">
                    <input type="text" id="country" name="country" placeholder="Country">
                </div>

                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input type="sendmsg" value="Send Message">
            </form>
        </div>
    </div>
</div>