<header>
    <div class="viaja" style="color:white">
        <h1>Viaja!</h1>
        <h3 style="font-style: italic">Descubre lugares maravillosos!</h3>
        <br>
        <button>Ver destinos</button>
    </div>
</header>
<br>
{{!-- <section>
    <div class="flex-container">
        <div><img class="item" src="../images/tokyo.JPG" alt="tokyo"></div>
        <div><img class="item" src="../images/beijing.jpg" alt="beijing"></div>
        <div><img class="item" src="../images/new_york.JPG" alt="newyork"></div>
    </div>
    <div class="flex-container">
        <div><img class="item" src="../images/ciudad_mexico.JPG" alt="mexico"></div>
        <div><img class="item" src="../images/buenos_aires.JPG" alt="buenosaires"></div>
        <div><img class="item" src="../images/madrid.JPG" alt="madrid"></div>
    </div>
</section> --}}
<br>
<section>
    <div class="quienSomos">
        <div class="quienSomosContent">
            <h3><u>QUIEN SOMOS</u></h3>
            <p>GeeksHubs Travels es un agencia de viajes
                online creada en 2009 por un equipo de viajeros
                entusiastas que deciden hacer de su
                pasion por conocer el mundo un modo de
                vida. Desde nuestros inicios hemos disenado
                mas de 500 viajes organizados a diferentes
                destinos de Europa, Norteamerica y Asia.
                Nuestro objectivo ahora es ir ampliando 
                horizontes poco a poco.</p>
            <button>DESCUBRIR</button>
        </div>
    </div>
</section>

<div class="container-input">
    <div style="text-align:justify">
        <p>E: enquiry@artiotravel.com<br>
            P: 0264 123 4567<br><br>
            Give us a call or drop by anytime, we endeavour to answer all<br>
            enquiries within 24 hours on business days.<br><br>
            We are open from 8.30 AM - 4.00 PM weekdays.</p>
    </div>
    <div class="row" style="display: flex">
        <div class="column"><img src="/images/map.jpg" style="width:100%"></div>
        <div class="column">
            <form action="/action_page.php">
                <div class="namephone">
                    <input type="text" id="fname" name="firstname" placeholder="Name">
                    <input type="text" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="emailcountry">
                    <input type="text" id="email" name="email" placeholder="Email">
                    <input type="text" id="country" name="country" placeholder="Country">
                </div>

                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input type="sendmsg" value="Send Message">
            </form>
        </div>
    </div>
</div>