* {
    box-sizing: border-box;
}

header {
    background-image: url(../images/nathan-anderson-316188-unsplash.jpg);
    background-position: center;
    background-size: 100vw;
    height: 500px;
    background-repeat: no-repeat;
}

.imgheader {
    position: center;
    height: 35px;
    width: 120px;
    color: black;
}

.redessociales {
    position: absolute;
    right: 10px;
    top: 5px;
}

.navbar {
    background-color: transparent;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(3, 5, 70) !important;
}


.imgRRSS {
    height: 30px;
    width: 30px;
    border-width: 50%;
}

.viaja {
    position: absolute;
    left: 35em;
    right: 2em;
    top: 9em;
    font-weight: bold;

}

#verDestinos {
    position: absolute;
    background-color: yellow;
    color: rgb(3, 5, 70);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 3em;

}

#verDestinos:hover {
    background-color: rgb(3, 5, 70);
    color: yellow;
}

/* prices-------------------------------*/
.flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.flex-container>div {
    background-color: #da17c0;
    width: 25px;
    margin: 10px;
    line-height: 25px;
    padding: 5px;
}
/* --Quien Somos ---------------------------------------------------- */
.quienSomos {
    background-image: url(../images/travel_1.jpg);
    background-position: center;
    background-size: 100vw;
    height: 400px;
    margin-top: 0px;
    background-repeat: no-repeat;
}

u {
    text-decoration: none;
    border-bottom: 5px solid yellow;
}
.boxed {
    
    background-color: white;
    border: none;
    margin-top: -40px;
    margin-left: 60px;
    margin-right: 900px;
    margin-bottom: -20px;
    padding: 10px;
    overflow: hidden;
}
button {
    background-color: rgb(3, 5, 70);
    border: none;
    color: yellow;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: yellow;
    color: rgb(3, 5, 70);
}

/* Contact Style inputs------------------------------------------------------- */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=sendmsg] {
    background-color: rgb(3, 5, 70);
    border: none;
    color: yellow;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;

}

input[type=sendmsg]:hover {
    background-color: yellow;
    color: rgb(3, 5, 70);
}

/* Style the container/contact section */
.container-input {
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.namephone {
    float: left;
    width: 48%;
}
.emailcountry {
    float: right;
    width: 48%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    header {
        background-image: 100vw;
    }
    .quienSomos {
        background-image: none;
    }
    .redessociales {
        display: none;
    }

   .container-input {
        display: none;
    }
}




/* Footer in separate footer.hbs file --------------------------------------*/
/* footer {
    background: rgb(3, 5, 70);
    font-weight: bold;
    box-align: center;
}


div {
    display: inline-block;
    padding: 20px;
    color: white;
    font-size: 15px;
    position: relative;
    text-align: center;

}

li {
    list-style: none;
    text-align: left;
}

.redessociales2 {
    position: absolute;
    right: -25em;
    bottom: 0px;
} */