* {
    box-sizing: border-box;
}

header {
    background-image: url(../images/nathan-anderson-316188-unsplash.jpg);
    /*background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;*/
    /* background-size: cover; */
    background-position: center;
    background-size: 100vw;

}

.imgheader {
    position: center;
    height: 35px;
    width: 120px;
    color: black;
}

.redessociales {
    position: absolute;
    right: 0;
    top: 0px;
}

.navbar {
    background-color: transparent !important;
}
.nav-link {
    color: white !important ;
}
.nav-link:hover {
    color: black !important;
}

@media (max-width: 700px) {
    .navbar {
        float: none;
        width: 100%;
    }

    .redessociales {
        display: none;
    }
}
.imgRRSS {
    height: 30px;
    width: 30px;
    border-width: 50%;
}

#viaja {
    position: relative;
    left: 25em;
    right: 2em;
    top: 1em;
    font-weight: bold;

}

#verDestinos {
    background-color: yellow;
    color: rgb(3, 5, 70);
    font-style: italic;
    border: none;
    transition: 0.3s;
}

#verDestinos:hover {
    background-color: rgb(3, 5, 70);
    color: yellow;
}

/* prices-------------------------------*/
.flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
} 

 .flex-container>div {
    background-color: #da17c0;
    width: 25px;
    margin: 10px;
    /* text-align: justify; */
    line-height: 25px;
    /* font-size: 30px; */
    padding: 5px;
}

/* --Quien Somos -- */
.quienSomos {
    background-image: url(../images/travel_1.jpg);
    background-size: 100vw;
    width: 100%;
    background-position: center;
}

.text-block {
    position: left;
    background-color: white;
    color: black;
    border: none;
}

u {
    text-decoration: none;
    border-bottom: 5px solid yellow;
}

button {
    background-color: rgb(3, 5, 70);
    border: none;
    color: yellow;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: yellow;
    color: rgb(3, 5, 70);
}

/* ContactStyle inputs-------------------------------- */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=sendmsg] {
    background-color: rgb(3, 5, 70);
    border: none;
    color: yellow;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
   
  }
  
  input[type=sendmsg]:hover {
    background-color:yellow;
    color: rgb(3, 5, 70);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


@media (max-width: 480px) {
    .Map {
        display: none;
    }
}

/* Footer in separate footer.hbs file --------------------------------------*/
footer {
    background: darkblue;
    font-weight: bold;
    box-align: center;
}


div {
    display: inline-block;
    /*  border: 2px solid black; */
    padding: 20px;
    color: white;
    font-size: 15px;
    position: relative;
    text-align: center;

}

li {
    list-style: none;
    text-align: left;
}

.redessociales2 {
    position: absolute;
    right: -25em;
    bottom: 0px;
}