* {
    box-sizing: border-box;
}

header {
    background-image: url(../images/nathan-anderson-316188-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 10em;
    padding-bottom: 10em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgheader {
    position: center;
    height: 35px;
    width: 120px;
    color: black;
}



.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(3, 5, 70);
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(3, 5, 70) !important;
}


.imgRRSS {
    height: 30px;
    width: 30px;
    border-width: 50%;
}

.viaja {
    font-weight: bold;

}

button {
    background-color: yellow;
    border: none;
    color: rgb(3, 5, 70);
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(3, 5, 70);
    color: yellow;
}

/* prices-------------------------------*/
/* .flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.flex-container>div {
    background-color: #da17c0;
    width: 25px;
    margin: 10px;
    line-height: 25px;
    padding: 5px;
} */
/* --Quien Somos ---------------------------------------------------- */
.quienSomos {
    background-image: url(../images/travel_1.jpg);
    background-position: center;
    background-size: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
}

u {
    text-decoration: none;
    border-bottom: 5px solid yellow;
}

.quienSomosContent {
    margin: 3em;
    width: 40%;
    background-color: white;
    border: none;
    padding: 1em;
}

.quienSomosContent p {
    text-align: justify;
}

/* Contact Style inputs------------------------------------------------------- */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=sendmsg] {
    background-color: rgb(3, 5, 70);
    border: none;
    color: yellow;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;

}

input[type=sendmsg]:hover {
    background-color: yellow;
    color: rgb(3, 5, 70);
}

/* Style the container/contact section */
.container-input {
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
}

/* Create two columns that flex next to eachother */
.column {
    display: flex;
    justify-content: space-between;
    padding: 7em;
    padding-top: 2em;
}




/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 990px) {
    header .quienSomos {
        background-image: none;
    }

    .quienSomosContent {
        width: unset;
    }

    .container-input {
        display: none;
    }

    .redessociales {
        display: none;
    }
}

/* Footer in separate footer.hbs file --------------------------------------*/
footer {
    background: rgb(3, 5, 70);
    font-weight: bold;
    box-align: center;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

ul {
    all: unset;
}

li {
    list-style: none;
    text-align: left;
}

.register {
    background-image: url(../images/journeys.jpg);
    padding-top: 12em;
    padding: 10em;

}